<!-- ======= Header ======= -->
<header id="header" class="fixed-top" routerLinkActive="active">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a [routerLink]="['/']">Mentor</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
        <li><a [routerLink]="['/courses']" routerLinkActive="active">Courses</a></li>
        <li><a [routerLink]="['/trainers']" routerLinkActive="active">Trainers</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <a [routerLink]="['/courses']" class="get-started-btn">Get Started</a>
  </div>
</header>
<!-- End Header -->
